.tile {
  justify-content: center;
  align-items: center;
  background-color: $plastic-yellow;
  border-radius: 5px;
  border: solid black 0.5px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  position: relative;
  font-family: 'Roboto Mono', monospace;
}

.points {
  position: absolute;
  right: 2px;
  bottom: 2px;
  font-size: 9px;
}
