.tile-rack {
  background-color: $wood-brown;
  height: 35px;
  width: 220px;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin: 10px;
  border: solid black 0.5px;
  border-radius: 5px;
}

.button {
  margin: 2px;
  color: white;
  font-size: 12px;
  background-color: $button-red;
  border: none;
  border-radius: 5px;
  height: fit-content;
  padding: 6px;
  align-self: center;
}
