<div class="flex-direction-column board" data-target="game.board">
  <% @board.rows.map do |row| %>
    <div class="flex-direction-row row">
      <% row.map do |square| %>
        <div class="flex-direction-row square"
          data-x=<%= square.x %>
          data-y=<%= square.y %>
          data-action="drop->drag#drop dragover->drag#allowDrop">
        </div>
      <% end %>
    </div>
  <% end %>
</div>
