<div class="flex-direction-row tile"
  id=<%= tile.id %>
  draggable="true"
  data-action="dragstart->drag#setTransferData">
  <%= tile.letter %>
  <div class="points">
    <%= tile.points %>
  </div>
</div>
