<div class="tile-rack">
  <% tiles.each_with_index do |tile, index| %>
    <%= render partial: 'tile', locals: {
      tile: tile,
      player: player,
      index: index
    } %>
  <% end %>
</div>
