<div class="flex-direction-column table" data-controller="drag game">
  <%= render partial: 'player_dashboard', locals: { player: 1 } %>
  <div class="flex-direction-row">
    <%= render partial: 'board' %>
    <%= render partial: 'points' %>
  </div>
  <%= render partial: 'player_dashboard', locals: { player: 2 } %>
  <div class="tile-bag" hidden>
  <div>
</div>
