<div class="table" data-controller="drag game">
  <div data-target="game.rack1"></div>
  <button data-action="game#refillRack1">get more tiles</button>
  <%= render partial: 'board' %>
  <div data-target="game.rack2"></div>
  <button data-action="game#refillRack1">get more tiles</button>
  <div class="tile-bag">
  <div>
</div>
