.tile {
  background-color: #fffdd0;
  border-radius: 5px;
  border: solid black 0.5px;
  height: 30px;
  width: 30px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: fit-content;
  background-color: #009b77;
  border-radius: 5px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-left: solid white 0.5px;

  &:last-child {
    border-right: solid white 0.5px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  border-top: solid white 0.5px;
  margin: 0;

  &:last-child {
    border-bottom: solid white 0.5px;
  }
}

.tile-rack {
  display: flex;
  flex-direction: row;
  background-color: #caa472;
  height: 35px;
  width: 220px;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin: 10px;
  border: solid black 0.5px;
  border-radius: 5px;
}
